/android/assets/
/data/
xcuserdata/
.DS_Store

/android/obj/
/android/libs/
/android/gen/
/android/bin/
/android/local.properties
/android/jni/obj/
/resources/vectors/exported/
QuickLook
/windows/Release/
/windows/pixelboost.vcxproj.user
/windows/pixelboost.v11.suo
/windows/pixelboost.suo
/windows/obj/
/windows/data/
/builds/
/nacl/newlib/
/resources/spritesheets/exported/